@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.anjaneyamHeading {
    font-family: 'Amaranth',
        sans-serif !important;
    text-transform: uppercase;
    color: #008000;
    font-weight: 700;
    font-size: 2.5rem;
}